<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  
  <% unless method == "delete" %>
  <select name="album[band_id]">
    <% if @album.id.nil? %>
    <option selected disabled>Please select a band</option>
    <% end %>
    <% Band.all.each do |band| %>
      <option <%= @album.id ? "selected" : "" %> value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  
  <br> 
  <br>
  
  <label for="album_date">Album Release</label>
  <input type="date" name="album[date]" value="<%= release %>">
  
  <br>
  <br>
  
  <div>  
  <label for="recorded1">Studio:</label>
  <input id="recorded1" type="radio" name="album[recorded_in]" <%= studio ? "checked" : "" %> value="<%= "studio" %>">
  
  <label for="recorded1">Live:</label>
  <input id="recorded2" type="radio" name="album[recorded_in]" <%= !studio ? "checked" : "" %> value="<%= "live" %>">
  </div>
  
  <br>
  <br>
  
  <label for="album_title">Album Title</label>
  <input type="text" name="album[title]" id="album_title" value="<%= album_title %>">
  <% end %>
  
  <button type="submit"><%= button %></button>
  
</form>